.App {
  display: flex;
  flex-direction: row;
}

.todoList {
  width: 300px;
}

.todoList > div {
  padding: 10px;
}

.todoList-task {

}

.todoList-task.done {
  opacity: 0.5;
}

.filter-active {
  background-color: blue;
}

.error {
  border-color: red;
}

.todoList-button {
  display: flex;
}
.todoList-button button {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-top: 15px;
}
